.header {
	font-size: 1.4rem;
	height: 7rem;
	background-color: #fff;
	border-bottom: 1px solid $grey-light-2;

	display: flex;
	justify-content: space-between;
	align-items: center;

	@include respond (phone-small) {
			flex-wrap: wrap;
			height: 11rem;
			align-content: space-around;
		}
}

.content {
	display: flex;
	@include respond (tab-port-large) {
		flex-direction: column;
	}
}

.sidebar {
	background-color: $grey-dark-1;
	flex: 0 0 18%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-view {
	flex: 1;
	background-color: #fff;
}

.detail {
	font-size: 1.4rem;
	display: flex;
	padding: 4.5rem;
	background-color: $grey-light-1;
	border-bottom: 1px solid $grey-light-2;

	@include respond (tab-port-large) {
		padding: 3rem;
	}

	@include respond (phone-large) {
		flex-direction: column;
	}
}

.description {
	background-color: #fff;
	box-shadow: $shadow-dark-2;
	padding: 3rem;
	flex: 0 0 60%;
	margin-right: 4.5rem;

	@include respond (tab-port-large) {
		padding: 2rem;
		margin-right: 3rem;
	}

	@include respond (phone-large) {
		margin-right: 0;
		margin-bottom: 3rem;
	}
}

.user-reviews {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}